.navbar{
    background-color: #0040ff;
    font-family: sans-serif;
   border-radius: 2px;
}

.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    /* padding: 3px; */ 
    margin: 13px 20px;  
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
    color: black;
}

h2{
    font-family: sans-serif;
    
}

.btn{
    margin-left: 6cm;
}


  
.btn{
    /* font-family: sans-serif; */
    background-color: #0040ff;
    color: white;
    padding: 4px 4px;
    float: center;
    height: 50px;
    width: 120px;
    border: solid 2px black ;
    border-radius: 22px;
    font-size: large;

}

.butn{
    background-color: #F3f5f5;
    color: #0040ff;
    font-size: large;
    height: 50px;
    width: 120px;
    border: #0040ff solid 2px;

    
}

ul{
    list-style: none;
    /* padding: 10px; */
}

ul li{
    padding: 10px;
}